<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.baisi.spedometer">

    <!-- 计歩需要的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.sensor.accelerometer" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission
        android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.PedometerApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity
            android:name=".activity.GuideActivity"
            android:clearTaskOnLaunch="true"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.GuideProfileActivity"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="true" />
        <activity android:name=".activity.TodayReportActivity" />

        <service android:name=".step.service.StepService">
            <intent-filter>

                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3d2d6d79283dfbcbacedb0d5c467df27693535ec" />

        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".fcm.CommonService" />

        <service android:name=".service.ServiceTimer"/>
        <activity android:name=".activity.MonthReportActivity" />
        <activity
            android:name=".activity.FlickePageActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WeekReportActivity" />
        <activity android:name=".activity.HistoryActivity" />

        <receiver android:name=".step.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".step.receiver.AppUpdatedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".step.receiver.ShutdownRecevier">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".step.receiver.PowerReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.SportStepActivity" />
        <activity
            android:name=".activity.SportStepFormalActivity"
            android:hardwareAccelerated="true" />
        <activity android:name=".activity.SportHistoryActivity" />

        <service
            android:name=".service.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".activity.MorningDialogActivity"
            android:theme="@style/DialogStyle"
            android:taskAffinity=".activity.MorningDialogActivity"/>
        <activity
            android:name=".activity.StepGoalDialogActivity"
            android:taskAffinity=".activity.StepGoalDialogActivity"
            android:theme="@style/DialogStyle" />
        <activity
            android:name=".activity.ExerciseDialogActivity"
            android:taskAffinity=".activity.ExerciseDialogActivity"
            android:theme="@style/DialogStyle"></activity>
    </application>

</manifest>